<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Index.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Index</title>

</head>
<body>
    <main>
        <div class="container">
            <a href="/home/miperfil">
                <dl>
                    <dt>Materia:</dt>
                    <dd>Programacion Web</dd> </br>
                    <dt>Semestre:</dt>
                    <dd>7mo</dd> </br>
                    <dt>Periodo:</dt>
                    <dd>Ago-Dic23</dd> </br>
                    <dt>Alumno:</dt>
                    <dd>Juan Eduardo Medrano Mendoza</dd>
                </dl>
            </a>
        </div>
    </main>

</body>
</html>

