@model IEnumerable<Act1ZooPlanet.Models.ViewModels.EspeciesViewModel>
@{
    Layout = "Layout";
}
@foreach (var c in Model)
{
    <h1>
        <img src="~/clases/@(c.IdClase).png" /> @c.NombreClase
    </h1>
    @foreach (var e in c.Especie)
    {
        <div class="listaEspecies2">
            <a href="~/Especies/Especie/@e.NombreEspecie.Replace(" ", "-")">
                <img src="~/especies/@(e.IdEspecie).jpg" title="@e.NombreEspecie" />
            </a>
        </div>
    }
}
<script>
    var c = document.querySelector("main h1 img").cloneNode();
    document.querySelector("main h1").appendChild(c);
</script>