* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #176B87;
}

main {
    background-color: #176B87;
    height: 100vh;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 350px
}
.container {
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    max-width: 900px;
    display:flex;
    align-items:center
}

ul {
    margin: 0px  30px;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    font-size:20px;
}

ul li:first-child {
    font-size: 25px;
}

ul li:nth-last-child(-n+2) {
    list-style:  initial;
}